<!-- Inherit from layout template -->
{% extends "layout.html" %}

<!-- Override content block in layout -->
{% block content %}

<h1>{{page_title}}</h1>

<div>
  {% if user.is_authenticated %}
    <!-- Print user name and capitalize first letter with filter -->
    <h2>Hi {{ user.username|title }} </h5>
  {% endif %}
  
  <!-- Create for loop using Jinja -->
  <!-- Use yogas from database in context dictionary from view  -->
  {% for yoga in yogas %}
  <div>
    <h5>Yoga Pose {{ yoga.id }}:</h5>
    <!-- Create link to yoga page -->
    <!-- Pass id to lookup yoga in view -->
    <a href="{% url 'yoga' yoga.id %}">{{yoga.name}}</a>
    <br />
    <br />
  </div>
  <!-- Unlike python need to end for loop -->
  {% endfor %} 

</div>
{% endblock %}

